.container{
   display: flex;
   gap: 20px;
}
.box{
   background-color: blanchedalmond;
   padding: 20px;
   border-radius: 10px;
}
.container2{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
.item{
   width: 200px;
   height: 100px;
   background-color: salmon;
}
/* Smaller device */
@media screen and (max-width: 576px){
   .container{
      flex-direction: column;
   }
}