nav{
   display: flex;
   justify-content: space-between;
}
nav a{
   text-decoration: none;
   color: black;
}
.form-container{
   display: flex;
   justify-content: center;
   border: 1px solid chocolate;
   height: 90vh;
}
.login{
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 2px solid crimson;
   width: 50%;

}
.login input{
   margin-top: 20px;

}