.container{
   display: grid;
   /* grid-template-columns: 200px 200px 200px; */
   /* grid-template-columns: repeat(2, 100px) 200px 150px; */
   /* grid-template-columns: repeat(6, 1fr) 2fr; */
   grid-template-columns: 200px auto 200px;
   justify-content: space-between;
}
.item{
   border: 1px solid brown;
}