body{
   border: 1px solid skyblue;
   max-width: 1140px;
   margin: 0 auto;
}
.image-container{
   display: flex;
}
.image-container div{
   width: 50%;
}
.image-container img{
   width: 100%;
}
/* Smaller Device */
@media screen and (max-width:576px) {
   .image-container{
      flex-direction: column-reverse;
   }
   .image-container div{
      width: 100%;
   }
}
