.container{
   border: 2px solid salmon;
   display: flex;
   justify-content: space-around;
   height: 250px;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
}
.box{
   border: 2px dashed burlywood;
   width: 100px;
   height: 100px;
}